
<section class='content history'>
  <h2>What are we doing here?</h2>
  <div id='fourth'>
    <p><a href="https://github.com/QuantumGeordie/blank">The Blank App</a> is a <a href="http://www.sinatrarb.com/">Sinatra</a> application written in the 'classic' style. Sinatra is cool and easy to use. It is very basic, but can be extended like a mother. The purpose of this application, is to have a starting point from which i can jump when i want to quickly start a new project. It is essentially a bootstrap or boilerplate that can be turned into a real application.</p>
    <p>As such, it does nothing on its own. there isn't even a data store. I may add some <a href="http://datamapper.org/">DataMapper</a> or <a href="http://sequel.jeremyevans.net/index.html">Sequel</a>objects, but I have been holding off because that seems more like a decision best made in the new app and not this template.</p>
    <p>Nor is there a bunch of styling. There are some basics that i thought I'd try with the <a href="http://bourbon.io/">Broubon</a>/<a href="http://neat.bourbon.io/">Neat</a>/<a href="http://bitters.bourbon.io/">Bitters</a> stack that <a href="http://thoughtbot.com/">Thoughtbot</a> put together, but it has not taken much shape yet. It is in here, but I have not done much with it yet.</p>
    <p>I first started this app way back when i was still early in my ruby learning cycle. That was way before I had any real experience with testing frameworks, so the application had the bones of RSpec and Cucumber. I never use those two these days, so i went to the <a href="https://github.com/seattlerb/minitest">Minitest</a> and <a href="http://docs.seleniumhq.org/">Selenium</a> setup that I use at <a href="http://www.appfolio.com/">AppFolio</a>.</p>
    <p>Needless to say, almost all of the content here is useless after the application has been cloned into a new application. I just wanted to start with a bunch of examples of different aspects of creating an application so that it all here for the next time.</p>
  </div>

<section class='content'>
  <h1>Testing Strategies</h1>
  <div id='first' class='test_descriptions'>
    <%= erb :_unit_testing %>
  </div>

  <div id='second' class='test_descriptions'>
    <%= erb :_integration_testing %>
  </div>

  <div id='third' class='test_descriptions'>
    <%= erb :_selenium_testing %>
  </div>
</section>

<section class='content'>
  <h1>Route Data</h1>
  <p>Nothing all that special here; just a random number generator in the route passing it to the view.</p>
  <div class='index_data'>
    page route: <span id='js-page_name'><%= @current_route %></span>
  </div>

  <div class='index_data'>
    random number: <span id='js-random_number'><%= @random_number %></span>
  </div>
</section>

</section>